	body, html{
		padding: 0;
		margin: 0;
		background-color: #ddd;
		font-size: 20px;
		font-family: Arial, san-serif;
	}
	h1{
		padding: 20px 0;
		margin: 0;
		text-align: center;
	}
	table{
		border-collapse: collapse;
	}
	td{
		margin: 10px;
		padding: 10px 20px;
		width: 100px;
		border: black thin solid;
	}

	.box{
		width: 500px;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0px 0px 5px 1px #bbb;
		box-sizing: border-box;
		border-radius: 0px 0px 5px 5px;
	}

	.taskName{
		width: 480px;
		font-size: 1em;
		margin: 0 auto;
		display: block;
		font-style: italic;
		color: #ddd;
		border-radius: 3px 3px #ccc;
	}

	.taskName:focus{
		outline: none;
		border-radius: 4px 4px #f00;
	}

	.allDone{
		margin: 0 5px 20px 10px;
		padding: 0;
	}

	.allDoneText{
		font-size: .8em;
	}

	.item{
		margin: 0;
		padding:0;
		margin: 10px 10px;
		margin-right: 10px;
	}

	.itemName{
		border-bottom: thin solid #ccc;
		padding: 10px 0;
		width: 480px;
		margin: 0 auto;
	}

	.itemName:last-child{
		border:none;
	}

	footer{
		font-size: .7em;
		background-color: #bced91;
		width: 500px;
		margin: 0 auto;
		padding: 10px;
		box-sizing: border-box;

		border-radius: 0px 0px 5px 5px;
	}

	.totItems{
		font-weight: bold;
	}
